<form action="/profile-data/" method="post">
    <label for="instagram_handle">Enter Instagram Handle: </label>
    <input id="instagram_handle" type="text" name="instagram_handle" value="">
    <input type="submit" value="OK">
</form>