<p>Name : {{profileData.name}}</p>
<p>Description : {{profileData.description}}</p>
<p>Followers Number : {{profileData.followers_number}}</p>
<p>Following Number : {{profileData.following_number}}</p>
<table>
    <tr>
        <th>id</th>
        <th>url</th>
    </tr>
    {{#each posts }}
        <tr>
            <td>{{ this.id }}</td>
            <td>{{ this.url }}</td>
        </tr>
    {{/each }}
</table>

